.main-list {
    text-decoration: solid;
    /*background-color: gold;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gold;
    font-size: 30px;
    font-weight: 800;
    
}
    
.body {
    background-color: darkslateblue;
}

.h1 {
    color: black;
    font-size: 80px;
    font-weight: 700;
}