<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Parmesan Recipe</title>

</head>
<body>
    <h1>Chicken Recipe</h1>
    <img src="../images/chicken.webp" width="500" height="300" alt="">
    <h2>Description</h2>
        <p>
            Chicken Parmesan is no doubt the most popular non-pasta dish in Italian-
            American style restaurants. And while this delicious meal may seem fancy, it's
            actually pretty easy to make at home.
        </p>
    
        <h2>Ingredients</h2>
        <ul>
            <li>4 skinless, boneless chicken breast halves</li>
            <li>Salt and freshly ground black pepper to taste</li>
            <li>2 large eggs</li>
            <li>1 cup panko bread crumbs, or more as needed</li>
            <li>S¾ cup grated Parmesan cheese, divided</li>
            <li>2 tablespoons all-purpose flour, or more if needed</li>
            <li>½ cup olive oil for frying, or as needed</li>
            <li>½ cup prepared tomato sauce</li>
            <li>¼ cup fresh mozzarella, cut into small cubes</li>
            <li>¼ cup chopped fresh basil</li>
            <li>½ cup grated provolone cheese</li>
            <li>2 teaspoons olive oil</li>        
        
        </ul>
    
        <h2>Steps</h2>
    <ol>
        <li>Preheat an oven to 450 degrees F (230 degrees C).</li>
        <li>Place chicken breasts between two sheets of heavy plastic (resealable freezer bags work well) on a solid, level surface. Firmly pound chicken with the smooth side of a meat mallet to a thickness of 1/2-inch. Season chicken thoroughly with salt and pepper.
        </li>
        <li>Beat eggs in a shallow bowl and set aside.</li>
        <li>Mix bread crumbs and 1/2 cup Parmesan cheese in a separate bowl, set aside.</li>
        <li>Place flour in a sifter or strainer; sprinkle over chicken breasts, evenly coating both sides.</li>
        <li>Dip a flour-coated chicken breast in beaten eggs. Transfer breast to the bread crumb mixture, pressing crumbs into both sides. Repeat for each breast. Let chicken rest for 10 to 15 minutes.        </li>
        <li>Heat 1/2 inch olive oil in a large skillet on medium-high heat until it begins to shimmer. Cook chicken in the hot oil until golden, about 2 minutes per side. The chicken will finish cooking in the oven.
        </li>
        <li>Transfer chicken to a baking dish. Top each breast with 2 tablespoons tomato sauce. Layer each chicken breast with equal amounts of mozzarella cheese, fresh basil, and provolone cheese. Sprinkle remaining Parmesan over top and drizzle each with 1/2 teaspoon olive oil.
        </li>
        <li>Bake in the preheated oven until cheese is browned and bubbly and chicken breasts are no longer pink in the center, 15 to 20 minutes. An instant-read thermometer inserted into the center should read at least 165 degrees F (74 degrees C).
        </li>    
    </ol>
    <p><a href="https://emreyenigun.github.io/recipes-website/">homepage</a></p>
</body>
</html>
