<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peanut Butter Cookies Recipe</title>
  </head>
  <body>
    <h1>Peanut Butter Cookies Recipe</h1>
    <img src="../images/cookies.webp" width="500" height="300" alt="" />
    <h2>Description</h2>
    <p>
      You'll be shocked how easy it is to make these peanut butter cookies. The
      full, step-by-step recipe is below — but here's a quick overview of what
      you can expect:
    </p>
    <h2>Ingredients</h2>
    <ul>
      <li>1 ¾ cups all-purpose flour</li>
      <li>½ teaspoon salt</li>
      <li>T1 teaspoon baking soda</li>
      <li>½ cup butter, softened</li>
      <li>½ cup white sugar</li>
      <li>½ cup peanut butter</li>
      <li>½ cup packed brown sugar</li>
      <li>1 egg, beaten</li>
      <li>1 teaspoon vanilla extract</li>
      <li>2 tablespoons milk</li>
      <li>40 miniature chocolate covered peanut butter cups, unwrapped</li>
    </ul>
    <h2>Steps</h2>
    <ol>
      <li>
        Preheat oven to 375 degrees F (190 degrees C). Sift together the flour,
        salt and baking soda; set aside.
      </li>
      <li>
        Cream together the butter, sugar, peanut butter and brown sugar until
        fluffy. Beat in the egg, vanilla and milk. Add the flour mixture; mix
        well. Shape into 40 balls and place each into an ungreased mini muffin
        pan.
      </li>
      <li>
        Bake at 375 degrees for about 8 minutes. Remove from oven and
        immediately press a mini peanut butter cup into each ball. Cool and
        carefully remove from pan.
      </li>
    </ol>
    <p><a href="/">homepage</a></p>
  </body>
</html>
