<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lasagna Recipe</title>
  </head>
  <body>
    <h1>Lasagna Recipe</h1>
    <img src="../images/lasagna.webp" width="500" height="300" alt="" />
    <h2>Description</h2>
    <p>
      Making lasagna can be time-consuming, but the results are well worth the
      wait. You'll find a detailed ingredient list and step-by-step instructions
      in the recipe below.
    </p>
    <h2>Ingredients</h2>
    <ul>
      <li>Meat</li>
      <li>Onion and Garlic</li>
      <li>Tomato Products</li>
      <li>Sugar</li>
      <li>Spices and Seasonings</li>
      <li>Lasagna Noodles</li>
      <li>Cheese</li>
      <li>Egg</li>
    </ul>
    <h2>Steps</h2>
    <ol>
      <li>Make the meat sauce.</li>
      <li>Cook the noodles.</li>
      <li>Make the ricotta mixture.</li>
      <li>Layer the lasagna according to the recipe instructions.</li>
      <li>Cover with foil and bake.</li>
      <li>Let the lasagna rest before serving.</li>
    </ol>
    <p><a href="/recipes-website">homepage</a></p>
  </body>
</html>
